<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity</title>
    <link rel="stylesheet" href="/stylesheets/create.css">
</head>
<body>
    <h1>Create Users</h1>
    <div class="box">

        <form action="/create" method="post">
            <input type="text" placeholder="Enter Your Name" name="name">
            <input type="text" placeholder="Enter Your Course" name="course">
            <input type="text" placeholder="Enter Your branch" name="branch">
            <input type="email" placeholder="Enter Your email" name="email">
            <input type="text" placeholder="Enter Your Contact No." name="contactno">
            <input type="submit" id="btn" value="Create" >
        </form>
    </div>
    <h2>Do you want to see all users  Click <a href="/read">All Users</h2>
    
</body>
</html>
